model_summary:
  _target_: pytorch_lightning.callbacks.RichModelSummary
  max_depth: 1

rich_progress_bar:
  _target_: pytorch_lightning.callbacks.RichProgressBar

model_checkpoint:
  _target_: pytorch_lightning.callbacks.ModelCheckpoint
  monitor: "train/loss"
  mode: "min"
  save_top_k: 1
  save_last: true
  verbose: true
  dirpath: "checkpoints/"
  filename: "epoch={epoch:02d}-train_loss={train/loss:.4f}"
  #every_n_epochs: 200
  auto_insert_metric_name: false

#lr_monitor:
#  _target_: pytorch_lightning.callbacks.LearningRateMonitor
#  logging_interval: "step"

